.body-part-info {
	background-color: darkslateblue;
	border: medium solid black;
	border-radius: 20pt;
	min-width: 250pt;
}

.body-part-info>thead th {
	color: lime;
	padding: 4pt;
	font-size: 20pt;
	background-color: blueviolet;
	border-radius: 16pt;
}

.body-part-info>tbody th {
	padding: 0 0 0 8pt;
	text-align: left;
}

.body-part-info>tbody td {
	padding: 0 8pt 0 0;
	text-align: right;
}

.part-name {
	font-size: 16pt;
}

.nutrition-element-low {
	color: red;
}

.nutrition-element-ok {
	color: white;
}

.nutrition-element-good {
	color: lime;
}

.nutrition-element-oversaturated {
	color: orange;
}