.status-low .chakra-progress__track {
	stroke: lightpink;
}

.status-low .chakra-progress__indicator {
	stroke: red;
}

.status-ok .chakra-progress__track {
	stroke: lightblue
}

.status-ok .chakra-progress__indicator {
	stroke: blue;
}

.status-good .chakra-progress__track {
	stroke: lightgreen
}

.status-good .chakra-progress__indicator {
	stroke: lime;
}

.status-oversaturated .chakra-progress__track {
	stroke: yellow;
}

.status-oversaturated .chakra-progress__indicator {
	stroke: red;
}