.status-display {
	display: flex;
	background-color: lightblue;
}

.status-figure {
	flex-wrap: nowrap;
	height: 100%;
}

.body-part-list {
	margin: 0pt;
	padding: 8pt;
	width: fit-content;
	min-height: 100%;
	background-color: rgb(49, 50, 59);
	list-style-type: none;
}

.body-part-list>li {
	margin: 8pt;
}