.status-bad .chakra-progress__track {
	stroke: lightpink;
}

.status-bad .chakra-progress__indicator {
	stroke: red;
}

.status-medium .chakra-progress__track {
	stroke: lightblue
}

.status-medium .chakra-progress__indicator {
	stroke: blue;
}

.status-good .chakra-progress__track {
	stroke: lightgreen
}

.status-good .chakra-progress__indicator {
	stroke: lime;
}

.status-oversaturated .chakra-progress__track {
	stroke: yellow;
}

.status-oversaturated .chakra-progress__indicator {
	stroke: red;
}